@{
    ViewData["Title"] = "Home Page";
}

//to add something interesting other than text on here

<div class="text-center">
    <h1 class="display-4">Welcome to Find A Feline!</h1>
    <p>Find the perfect cat for you and your home</p>
</div>
