html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    background-color: hotpink
}

#row-wrapper {
    display: grid;
    grid-template-columns: auto minmax(0, auto) auto;
    justify-content: space-between;
    gap: 30px;
}

#hand {
    display: flex;
    justify-content: center;
}

.card {
    margin-bottom:100px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex: 1 0 0 width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
    flex-wrap: wrap;
    padding: 8px;
}
